.product__card {
    /* border: 2px solid black; */
    box-shadow: 5px 10px 10px rgba(0,0,0,0.2) ;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    
}

.product__image {
    
    width: 300px;
    height: 300px;
}

.product__info {
    font: 1rem;

}

.product__name {
    font-size: 1.2rem;
    font-weight: 600;
}

.product__description {
    font-size: 13px;
    color: black;
}