.navbar-brand{
    font-size: clamp(1rem, 2.5vw, 3rem); 
    color: red;
}

Nav {
    background:transparent;
    height: 80px;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    padding: 0;
}
   

